* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: "Segoe UI";
}
ul,
ol {
  list-style: none;
}
//empieza estilo del header con su background
header {
  position: relative;
  height: 400px;
  overflow: hidden;
  color: white;
}
%spans {
  position: absolute;
  width: 20%;
  height: 20%;
}
.header-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      138deg,
      rgba(255, 0, 0, 0.575) -10%,
      rgba(56, 15, 15, 0.705),
      #0458ff 120%
    ),
    #ff0000;
  transform: skewY(-10deg);
  transform-origin: top left;
  z-index: -1;

  .r1 {
    @extend %spans;
    background: linear-gradient(
      135deg,
      rgba(134, 14, 14, 0.74),
      rgba(153, 14, 14, 0.5)
    );
    height: 30%;
  }
  .r2 {
    @extend %spans;

    top: 0px;
    left: 30%;
    height: 30%;
    background: rgba(138, 35, 49, 0.808);
  }
  .r3 {
    @extend %spans;

    top: 0%;
    left: 60%;
    height: 40%;
    width: 18%;
    background: rgba(99, 21, 43, 0.623);
  }
  .r4 {
    @extend %spans;
    top: 70%;
    left: 80%;
    height: 30%;
    width: 40%;
    background: linear-gradient(65deg, #cc3232, #2513db);
  }
  .r5 {
    @extend %spans;
    top: 80%;
    left: 60%;
    height: 20%;
    background: linear-gradient(135deg, #2b218d, #9b1515);
  }
  .r6 {
    @extend %spans;
    top: 90%;
    height: 10%;
    left: 30%;
    width: 20%;
    background: linear-gradient(24deg, #af0808, #111949 120%);
  }
  .r7 {
    @extend %spans;
    top: 60%;
    height: 40%;
    width: 20%;
    background: linear-gradient(211deg, #2b218d -50%, #d20303);
  }
  .r8 {
    @extend %spans;
    top: 50%;
    left: 26%;
    height: 18%;
    width: 30%;
    background: rgba(150, 8, 8, 0.637);
  }
}
// termina estilo del background
//barra de navegación
.logo {
  margin-top: -5px;
  width: 200px;
}
.fa-bars {
  margin: 15px;
  font-size: 30px;
}
.fa-times {
  margin: 15px;
  font-size: 30px;
  display: none;
}
.btncontrol {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 44px;
  label {
    display: inline;
    ul {
      display: none;
      box-sizing: border-box;
      width: 320px;
      background: linear-gradient(
          138deg,
          rgba(255, 0, 0, 0.575) -10%,
          rgba(56, 15, 15, 0.705),
          #0458ff 110%
        ),
        #ff0000;
      li {
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        padding: 1.6% 1.1%;
        a {
          text-decoration: none;
          font-family: IBMPlexMono;
          font-size: 16px;
          color: #ffffff;
          letter-spacing: 0;
          line-height: 28px;
        }
        a:target {
          font-family: IBMPlexMono;
          font-size: 16px;
          color: rgba(6, 10, 36, 0.56);
          letter-spacing: 0;
          line-height: 28px;
          text-decoration: line-through;
        }
        a:hover {
          font-family: IBMPlexMono-Medium;
          font-size: 16px;
          color: #202b42;
          letter-spacing: 0;
          line-height: 28px;
          text-decoration: line-through;
        }
      }
    }
  }
}
//Cuando se hace el check se esconde el icono de hamburguesa, se muestra el icono de x y se despliega la lista

.txt-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 15%;
  margin: 0px 20px;
  text-align: center;
  max-width: 550px;
  h1 {
    margin: 20px;
  }
  a {
    margin: 20px;
    padding: 10px 25px;
    background: radial-gradient(ellipse, #240dff, #29184f);
    color: white;
    text-decoration: none;
    max-width: 300px;
  }
}
//seccion de podcast
.novedades {
  margin: 30px 0px;
  h2{
  text-align: center;
  margin: 20px 0px;
  font-size: 36px;
}
}
.caja-podcast{
  margin: 10px;
  display: flex;
  justify-content: center;
  p {
    display: none;
  }
  iframe{
    max-width: 90%;

  }
}

//termina sección de podcast
//comienzan media queries
@media (max-width: 767px) {
  .btncontrol:checked + label > ul {
    position: absolute;
    top: 60px;
    left: 0px;
    display: inline-block;
    width: 100%;
    z-index: 1;
    li {
      border: 1px solid white;
      justify-content: center;
    }
  }
  .btncontrol:checked + label > svg.fa-bars {
    display: none;
  }
  .btncontrol:checked + label > svg.fa-times {
    display: flex;
    z-index: 2;
  }
}
@media (min-width: 768px) {
  //header
  .fa-bars {
    display: none;
  }
  .txt-header {
    left: 15%;
    top: 30%;
  }
  header {
    height: 700px;
  }
  nav {
    justify-content: space-around;
    label {
      ul {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 80px;
        width: 500px;
        background: none;
        li {
          background: transparent;
          padding: 2.7% 3.3%;

          a {
            font-family: IBMPlexMono;
            font-size: 16px;
            color: white;
            letter-spacing: 0;
            line-height: 28px;
          }
        }
      }
    }
  }
  //termina header
  // empieza sección de novedades
  .caja-podcast{
    margin: 10px;
    display: flex;
    align-items: center;
    
    iframe{
      max-width: 60%;
  
    }
    p {
      margin: 20px;
      width: 40%;
      text-align: justify;
      display: inline-block;
    }
  }
  .contenedor-podcast{
    max-width: 60%;
    margin-left: 5%;
  }
}

//termina estilos del header
